* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa
}

.tree ul {
    list-style-type: none;
    padding-left: 20px;
    transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out;
    overflow: hidden;
}

.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 2em;
    cursor: pointer;
    user-select: none;
}

.tree li ul {
    max-height: 0;
}

.tree li.open > ul {
    max-height: 1000px;
}

.tree i {
    margin-right: 8px;
}